@font-face {
  font-family: "iconfont"; /* Project id 3809801 */
  src: url('iconfont.woff2?t=1670230744398') format('woff2'),
       url('iconfont.woff?t=1670230744398') format('woff'),
       url('iconfont.ttf?t=1670230744398') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenzhangzhuanzai:before {
  content: "\e62d";
}

.icon-combinedshapecopy2:before {
  content: "\e652";
}

.icon-wenzhangshoucang:before {
  content: "\e60a";
}

.icon-wenzhanghuoke-:before {
  content: "\e659";
}

.icon-wenzhanghuoke-1:before {
  content: "\e65a";
}

.icon-wenzhanghuoke-2:before {
  content: "\e65b";
}

.icon-wenzhanghuoke-3:before {
  content: "\e65c";
}

.icon-wenzhanghuoke-4:before {
  content: "\e65d";
}

.icon-wenzhanghuoke-5:before {
  content: "\e65e";
}

.icon-yonghu:before {
  content: "\e64d";
}

.icon-weibiaoti--:before {
  content: "\e60e";
}

.icon-wodewenzhang:before {
  content: "\e618";
}

.icon-wenzhangguanli:before {
  content: "\e67d";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-wenzhangfenlei:before {
  content: "\e6c6";
}

.icon-wenzhangshenhe:before {
  content: "\e642";
}

.icon-tianjiawenzhang:before {
  content: "\e658";
}

.icon-wenzhangliebiao:before {
  content: "\e653";
}

.icon-wenzhangfabu:before {
  content: "\e645";
}

