.login {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/bg.png");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: 10% 30% 50% 10%;
  place-items: center;
}
.login h1 {
  width: 100%;
  text-align: center;
  font-style: italic;
  letter-spacing: 20px;
  grid-row: 1 /2;
}
.login img {
  grid-row: 2 /3;
  width: 90%;
  height: 90%;
  margin-top: 10px;
  animation: upDown 3s linear infinite;
}
@keyframes upDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.login .loginForm {
  grid-row: 3/5;
  font-size: 0.8rem;
  display: grid;
  grid-template-rows: 70px 70px 40px;
  justify-items: baseline;
  height: 300px;
  width: 300px;
  margin-top: 30px;
}
.login .loginForm input[type="text"],
.login .loginForm input[type="password"] {
  width: 230px;
  height: 38px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 18px 15px;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

.login .loginForm input[type="text"]:focus,
.login .loginForm input[type="password"]:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.login .loginForm input[type="text"]::placeholder,
.login .loginForm input[type="password"]::placeholder {
  font-weight: 400;
  color: #fff;
}
.login .loginForm input[type="text"]:focus::placeholder,
.login .loginForm input[type="password"]:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.login .loginForm .loginButton {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 0.8rem;
}
.login .loginForm .loginButton a {
  text-decoration: none;
  color: white;
}
.login .loginForm .loginButton button {
  color: #fff;
  width: 80px;
  margin-right: 80px;
  font-weight: 700;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.login .loginForm .loginButton button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #121212;
}
.login .loginForm .loginButton a:hover {
  cursor: pointer;
  background-color: #fff;
  color: #121212;
}
@media screen and (min-width: 768px) {
  .login {
    grid-template-columns: 40% 50% 10%;
    grid-template-rows: 10% 60% 30%;
    place-items: center;
  }
  .login h1 {
    margin-top: 20px;
    grid-column: 1 / 4;
    grid-row: 1 /2;
  }
  .login img {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2 /3;
    margin-top: 0;
  }
  .login .loginForm {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.2rem;
    grid-template-rows: 90px 90px 50px;
  }
  .login .loginForm input[type="text"],
  .login .loginForm input[type="password"] {
    width: 75%;
    font-size: 1.2rem;
  }
  .login .loginForm .loginButton button {
    font-size: 1.2rem;
  }
}
