.register {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/bg.png");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: 10% 30% 30% 30%;
  place-items: center;
}
.register img {
  grid-row: 2 /3;
  width: 90%;
  height: 90%;
  margin-top: 10px;
  animation: upDown 3s linear infinite;
}
@keyframes upDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.register h1 {
  width: 100%;
  text-align: center;
  font-style: italic;
  letter-spacing: 20px;
  grid-row: 1 /2;
}
.register .registerForm {
  grid-row: 3/4;
  font-size: 0.8rem;
  display: grid;
  grid-template-rows: 70px 70px 70px 38px;
  height: 300px;
  width: 300px;
}
.register .registerForm input[type="text"],
.register .registerForm input[type="password"] {
  width: 230px;
  height: 38px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 18px 15px;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

.register .registerForm input[type="text"]:focus,
.register .registerForm input[type="password"]:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.register .registerForm input[type="text"]::placeholder,
.register .registerForm input[type="password"]::placeholder {
  font-weight: 400;
  color: #fff;
}
.register .registerForm input[type="text"]:focus::placeholder,
.register .registerForm input[type="password"]:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.register .registerForm .registerButton {
  margin: 0 auto;
}
.register .registerForm .registerButton button {
  color: #fff;
  width: 100px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.register .registerForm .registerButton button:hover {
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #fff;
  color: #121212;
}
@media screen and (min-width: 768px) {
  .register {
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 10% 60% 30%;
    place-items: center;
  }
  .register h1 {
    margin-top: 20px;
    grid-column: 1 / 4;
    grid-row: 1 /2;
  }
  .register img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0;
  }
  .register .registerForm {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.2rem;
    grid-template-rows: 90px 90px 90px 38px;
  }
  .register .registerForm input[type="text"],
  .register .registerForm input[type="password"] {
    width: 50%;
    font-size: 1.2rem;
  }
  .register .registerForm .registerButton button {
    font-size: 1.2rem;
  }
}
