.detail {
  color: black;
  font-size: 0.8rem;
  margin: 10px auto;
  width: 90%;
  text-align: left;
}
.detail .detail_header {
  padding: 15px 0 0 15px;
  height: 100px;
}

.detail .detail_meta {
  margin: 0 0 15px 0;
  color: #c7c7c7;
}
.detail .detail_meta span {
  margin-right: 10px;
}
.detail .detail_content {
  margin: 0 auto;
  width: 95%;
}
.detail .detail_remark {
  width: 90%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #c7c7c7;
}
.detail .detail_remark i {
  font-size: 0.8rem;
  color: dodgerblue;
}
.detail .switch_article {
  width: 90%;
  margin: 10% auto;
  display: flex;
  justify-content: space-between;
}
.detail .switch_article button {
  cursor: pointer;
  color: #999;
  padding: 3px 6px;
  font-size: 0.8rem;
  border: 1px solid #999;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .detail .detail_header {
    font-size: 1rem;
  }
  .detail .detail_remark {
    font-size: 1rem;
  }
  .detail .detail_remark i {
    font-size: 1.3rem;
  }
}
