.frame {
  height: 100%;
  background-image: url("../../assets/img/bg.png");
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: 10% 90%;
}
.frame header {
  width: 85%;
  height: 100%;
  background-size: cover;
  display: grid;
  grid-template-columns: 25% 80%;
}
.frame header h1 {
  font-size: 1.5rem;
  margin-top: 30px;
}
.frame header img {
  margin: 10px 0 3px 10px;
  width: 70%;
  height: 70%;
}
.frame .main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 70%;
}
.frame .main aside {
  border-right: 1px solid #777;
}

.frame .main .frame_content {
  background-color: #fff;
}
.frame .main aside .menuItem {
  margin-top: 20px;
  width: 100%;
  font-size: 0.8rem;
}
.frame .main aside .menuItem i {
  font-size: 0.8rem;
  margin-right: 5px;
}
.frame .main aside .menuItem a {
  text-decoration: none;
  color: white;
}
.frame .main aside .highLight {
  color: #5c94c5;
}
.frame .main aside .highLight a {
  color: #5c94c5;
}

@media screen and (min-width: 768px) {
  .frame {
    grid-template-rows: 20% 75%;
  }
  .frame header {
    grid-template-columns: 20% 80%;
  }
  .frame header h1 {
    margin: 50px 0 0 0;
    font-size: 3rem;
  }
  .frame header img {
    width: 80%;
    height: 60%;
    margin: 30px 0 0 0;
  }
  .frame .main {
    height: 100%;
    grid-template-columns: 15% 80%;
  }
  .frame .main aside .menuItem {
    font-size: 1.2rem;
  }
  .frame .main aside .menuItem i {
    font-size: 1.2rem;
  }
}
