.frame {
  width: 100%;
  height: 100%;
}

.frame .frame_bg {
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
}
.frame .main {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  width: 90%;
  margin: 20px auto;
  z-index: 999;
  background-color: rgba(0, 178, 255, 0.04);
  opacity: 0.8;
}
.frame .main .navBar {
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-between;
  align-items: center;
}

.frame .main .navBar .userInfo i {
  font-size: 2rem;
  margin-right: 3px;
  vertical-align: middle;
}
.frame .main .navBar .userInfo span {
  font-size: 1.2rem;
  vertical-align: middle;
  text-align: center;
}

.frame .main .navBar .highLight {
  color: #087fe6;
}
.frame .main .navBar .highLight a {
  color: #087fe6;
}
@media screen and (min-width: 768px) {
  .frame {
    font-size: 1.5rem;
  }
  .frame .main .navBar .userInfo span {
    font-size: 1.5rem;
  }
}
