.publish {
  color: black;
  font-size: 0.8rem;
}
.publish .publish_content {
  display: grid;
  grid-template-rows: 20% 80%;
}
.publish .publish_content .publish_header {
  height: 100%;
  width: 100%;
  padding-top: 15px;
  display: flex;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.2);
}
.publish .publish_content .publish_header a {
  text-decoration: none;
  color: black;
  float: left;
  margin-left: 20px;
}
.publish .publish_content .publish_form {
  width: 80%;
  height: 100%;
  justify-self: center;
  padding-top: 30px;
  display: grid;
  grid-template-rows: 10% 10% 30% 40% 10%;
  grid-gap: 15px;
  justify-items: start;
}
.publish .publish_content .publish_form input[type="text"] {
  width: 160px;
  height: 20px;
}
.publish .publish_content .publish_form .article_title {
}

.publish .publish_content .publish_form .article_category {
}

.publish .publish_content .publish_form .article_content {
}
.publish .publish_content .publish_form .article_button button {
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: deepskyblue;
  padding: 6px 10px;
  font-size: 0.8rem;
  /*padding: 14px 48px;*/
  /*font-size: 18px;*/
  /*margin-top: 25px;*/
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.publish .publish_content .publish_form .article_button button span {
  z-index: 1;
  position: relative;
}
.publish .publish_content .publish_form .article_button button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  background-color: rgba(18, 18, 18, 0.48);
  left: 0;
  top: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.publish .publish_content .publish_form .article_button button:hover {
  color: #fff;
}
.publish .publish_content .publish_form .article_button button:hover::before {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .publish {
    font-size: 1rem;
  }
  .publish .publish_content .publish_form {
    grid-gap: 30px;
  }
  .publish .publish_content .publish_form input[type="text"] {
    width: 500px;
    height: 30px;
  }
  .publish .publish_content .publish_form .article_button button {
    font-size: 1rem;
  }
}
