.publish {
  color: black;
  font-size: 0.8rem;
}

.publish .publish_header {
  padding: 10px;
  display: flex;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.2);
}
.publish .article_title {
  height: 60px;
  padding: 10px 20px 20px;
  text-align: left;
}
.publish .article_title label {
  margin-right: 5px;
}
.publish .article_title input[type="text"] {
  width: 60%;
  height: 28px;
}
.publish .article_button button {
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: deepskyblue;
  padding: 6px 10px;
  font-size: 0.8rem;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.publish .article_button button span {
  z-index: 1;
  position: relative;
}
.publish .article_button button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  background-color: rgba(18, 18, 18, 0.48);
  left: 0;
  top: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.publish .article_button button:hover {
  color: #fff;
}
.publish .publish_content .publish_form .article_button button:hover::before {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .publish {
    font-size: 1rem;
  }
  .publish .article_button button {
    font-size: 1rem;
  }
}
